@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*{
  padding: 0%;
  margin: 0%;
}
html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
/* map */
.map {
    display: flex;
    justify-content: space-around;
}

.map > .address >p{
    font-size: 2.5vh;
}

@media (max-width:500px){
    .map{
      display: flex;
      flex-direction: column;
    }
     .map > #mapview > iframe  {
      width: 50vh;
      height: 50vh;
  
      }  
}



.footer-basic {
  padding:40px 0;
  color:rgb(255, 255, 255);
  background-color: rgb(65, 65, 65);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  justify-content: center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  display: flex;
  align-items: center;
  align-content: center;

}

.footer-basic li {
  padding:0 10px;
  display: inline;
  align-items: center;

}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


  
  .navbar{
    background-color: rgb(177, 174, 174);
      width: 100%;
      height: 6vh;
      display: flex;
      justify-content: space-around;
      font-family: 'Red Hat Display', sans-serif;
      position: sticky;
      top: 0%;
      z-index: 2;
  }
  
  .BgColour {
    color: black;
    background-color: rgb(131, 255, 131);
    transition: all 1s;
    opacity: 90%;
  }
  
  .bookmark{
    position: relative;
    height: 8vh;
    z-index: 5;
  }
  .navbar > .bookmark > img{
    z-index: 5;
    height: 8vh;
    border-radius: 0 0 5vh 5vh;
  }
  .navbar >.menu >ul{
      list-style: none;
      
  }
  .navbar > .menu > ul > li{
      font-size: 2.3vh;
      display: inline;
      padding: 2.5vh;    
  }
  /* unvisited link */
  .navbar > .menu > ul > li> a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  .navbar > .menu > ul > li>a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  .navbar > .menu > ul > li>a:active {
    color: white;
    text-decoration: none;
  }
  .navbar > .menu > ul > li >p{
      display: inline;
  }
  .headerpart {
      display: none;
  }
  
  
  
  @media screen and (min-width: 800px){
      .openbtn { display: none; }   /* hide it elsewhere */
      .navbar > .menu > ul > .closebtn{
        display: none;
      }
      .homemenu{
        display: none;
      }
      .mobileheader > .title{
          display: flex;
        }
      
    }
    
  
  
    
  @media only screen and (max-width: 924px) {
      *{
        padding: 0%;
        margin: 0%;
      }
      .homepage > .text > h2{
        font-size: 3.5vh;
      }
      .headerpart{
        display: flex;
      }
      .mobileheader{
        width: 100%;
        background-color:rgb(31, 31, 31);
        display: flex;
        }
        .mobileheader > .title{
          display: flex;
        }
    .navbar li:hover {
      color: #f1f1f1;
    }
    
    .navbar .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }
      .openbtn{
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }
      body{
        background-image: none;
      }
      .navbar > .menu > ul > .title{
        position: absolute;
        top: 0%;
        display: none;
      }
      
      .bookmark{
        position: relative;
        display: none;
      }
      .navbar  {
        display: flex;
        flex-direction: column;
        width: 0;
        position: fixed;
        z-index: 1;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    
      }
      .navbar > .menu > ul > li{
        font-size: 4vh;
        display: flex;
        padding: 2.5vh;    
      }
      .navbar > .menu > ul > a{
        text-decoration: none;
        color: orange;
      }
    
  
  }